<div class="px-36 bg-gray-300 py-14">
  <h2 class="text-3xl">Get the FreshCart app</h2>
  <p class="my-3 text-xl text-gray-600 font-light">
    We will send you a link,open it on your phone to download the app
  </p>
  <div class="px-6 flex justify-between gap-3">
    <!-- <input type="text" class="w-[81%] rounded" placeholder="Email ..." /> -->
    <input
      type="text"
      id="default-input"
      class="w-[81%] bg-gray-50 border border-gray-300 text-lg rounded-lg px-2.5 text-gray-400"
      placeholder="Email .."
    />
    <!-- <button href="">share App Link</button> -->
    <button
      type="button"
      class="text-white bg-gradient-to-br bg-green-600 to-blue-500 rounded-lg text-xl px-12 py-2 text-center mb-2"
    >
      Share App Link
    </button>
  </div>
  <!-- -------------- payment-deliveries ------------------ -->
  <div
    class="payment-deliveries flex content-between px-4 border-2 border-gray-[250] border-x-transparent my-10 mb-0 py-4"
  >
    <div class="payment-partners w-[80%] flex items-center gap-3">
      <h4 class="text-xl">payment partners</h4>
      <img
        class="w-[6%]"
        src="./images/amazon-pay.png"
        alt="/amazon-pay-image"
      />
      <img
        class="w-[6%]"
        src="./images/American-Express-Color.png"
        alt="American-Express-Color-image"
      />
      <img
        class="w-[6%]"
        src="./images/mastercard.webp"
        alt="mastercard-image"
      />
      <img class="w-[6%]" src="./images/paypal.png" alt="image-paypal" />
    </div>
    <div class="deliveries flex justify-end items-center gap-2">
      <h4 class="text-xl">Get deliveries with FreshCart</h4>
      <img
        src="/images/get-apple-store.png"
        alt="apple-store-image"
        class="w-[19%]"
      />
      <img
        src="/images/get-google-play.png"
        alt="google-play-image"
        class="w-[19%]"
      />
    </div>
  </div>
</div>
