@if (Completed_step == 0) {
<!-- -------------------------------------------------------------------------------------verifying_userEmail-------------------------------- -->
<div class="w-9/12 mx-auto my-7">
  <form action="" [formGroup]="verifying_userEmail" (ngSubmit)="verify_Email()">
    <!-- --------------- Message-rror form------------ -->
    @if (API_Message.length > 0) {
    <div
      class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 mt-3"
      role="alert"
    >
      <svg
        class="shrink-0 inline w-4 h-4 me-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Info</span>
      <div class="text-xl">
        <span class="font-medium">{{ API_Message }}</span>
      </div>
    </div>
    }
    <!-- -------------------- user-Eamil ---------------------- -->
    <div class="mb-6">
      <label for="email" class="block mb-2 text-xl font-medium text-green-900"
        >Email:
      </label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-green-900 text-xl rounded-lg block w-full p-2.5"
      />
      @if (verifying_userEmail.get('email')?.errors &&
      verifying_userEmail.get('email')?.touched) {
      @if(verifying_userEmail.get('email')?.getError('required')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 mt-3"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div class="text-xl">
          <span class="font-medium">Danger alert!</span> Email is required
        </div>
      </div>
      } @else if (verifying_userEmail.get('email')?.getError('email')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 mt-3"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div class="text-xl">
          <span class="font-medium">Warning alert!</span> Please enter a Vaild
          eamil
        </div>
      </div>
      } }
    </div>
    <button
      type="submit"
      [disabled]="verifying_userEmail.invalid"
      class="text-white bg-green-600 font-medium rounded-lg text-2xl px-5 py-2.5 text-center me-2 mb-2 disabled:bg-green-400"
    >
      <!-- Login @if (Loading) {
        <i class="fa-solid fa-spinner fa-spin"></i>
        } -->
      Submit
    </button>
  </form>
</div>
} @else if (Completed_step == 1) {
<!-- -------------------------------------------------------------------------------------------reset-Code-------------------------------- -->
<div class="w-9/12 mx-auto my-7">
  <form action="" [formGroup]="verifying_resetCode" (ngSubmit)="reset_Code()">
    <!-- --------------- Message-rror form------------ -->
    @if (API_Message.length > 0) {
    <div
      class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 mt-3"
      role="alert"
    >
      <svg
        class="shrink-0 inline w-4 h-4 me-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Info</span>
      <div class="text-xl">
        <span class="font-medium">{{ API_Message }}</span>
      </div>
    </div>
    }
    <!-- -------------------- reset-Code ---------------------- -->
    <div class="mb-6">
      <label
        for="reset_Code"
        class="block mb-2 text-xl font-medium text-green-900"
        >Code:
      </label>
      <input
        formControlName="resetCode"
        type="tel"
        id="reset_Code"
        class="bg-gray-50 border border-gray-300 text-green-900 text-xl rounded-lg block w-full p-2.5"
      />
      @if (verifying_resetCode.get('resetCode')?.errors &&
      verifying_resetCode.get('resetCode')?.touched) {
      @if(verifying_resetCode.get('resetCode')?.getError('required')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 mt-3"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div class="text-xl">
          <span class="font-medium">Danger alert!</span> Reset code is required.
        </div>
      </div>
      } @else if (verifying_resetCode.get('resetCode')?.getError('pattern')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 mt-3"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div class="text-xl">
          <span class="font-medium">Warning alert!</span> Reset code must be
          exactly 6 digits.
        </div>
      </div>
      } }
    </div>
    <button
      type="submit"
      [disabled]="verifying_resetCode.invalid"
      class="text-white bg-green-600 font-medium rounded-lg text-2xl px-5 py-2.5 text-center me-2 mb-2 disabled:bg-green-400"
    >
      <!-- Login @if (Loading) {
        <i class="fa-solid fa-spinner fa-spin"></i>
        } -->
      Submit
    </button>
  </form>
</div>
} @else if (Completed_step == 2) {
<!-- -------------------------------------------------------------------------------------------reset_Password------------------------------ -->
<div class="w-9/12 mx-auto my-7">
  <form action="" [formGroup]="reset_Password" (ngSubmit)="reset_NewPassword()">
    <!-- --------------- Message-rror form------------ -->
    @if (API_Message.length > 0) {
    <div
      class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 mt-3"
      role="alert"
    >
      <svg
        class="shrink-0 inline w-4 h-4 me-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Info</span>
      <div class="text-xl">
        <span class="font-medium">{{ API_Message }}</span>
      </div>
    </div>
    }
    <!-- -------------------- user-Eamil ---------------------- -->
    <div class="mb-6">
      <label for="email" class="block mb-2 text-xl font-medium text-green-900"
        >Email:
      </label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-green-900 text-xl rounded-lg block w-full p-2.5"
        readonly
      />
      @if (reset_Password.get('email')?.errors &&
      reset_Password.get('email')?.touched) {
      @if(reset_Password.get('email')?.getError('required')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 mt-3"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div class="text-xl">
          <span class="font-medium">Danger alert!</span> Email is required
        </div>
      </div>
      } @else if (reset_Password.get('email')?.getError('email')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 mt-3"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div class="text-xl">
          <span class="font-medium">Warning alert!</span> Please enter a Vaild
          eamil
        </div>
      </div>
      } }
    </div>
    <!-- --------------------- Paswword ---------------------- -->
    <div class="mb-6">
      <label
        for="newPassword"
        class="block mb-2 text-xl font-medium text-green-900"
        >password:
      </label>
      <input
        formControlName="newPassword"
        type="text"
        id="newPassword"
        class="bg-gray-50 border border-gray-300 text-green-900 text-xl rounded-lg block w-full p-2.5"
      />
      @if (reset_Password.get('newPassword')?.errors &&
      reset_Password.get('newPassword')?.touched) {
      @if(reset_Password.get('newPassword')?.getError('required')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 mt-3"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div class="text-xl">
          <span class="font-medium">Danger alert!</span> Password is required
        </div>
      </div>
      } @else if (reset_Password.get('newPassword')?.getError('pattern')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 mt-3"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div class="text-xl">
          <span class="font-medium">Warning alert!</span> Password must be at
          least 8 characters long and include at least one uppercase letter, one
          lowercase letter, and one number.
        </div>
      </div>
      } }
    </div>
    <!-- --------------------- re_Paswword ---------------------- -->
    <div class="mb-6">
      <label
        for="re_newPassword"
        class="block mb-2 text-xl font-medium text-green-900"
        >re_newPassword:
      </label>
      <input
        formControlName="re_newPassword"
        type="text"
        id="re_newPassword"
        class="bg-gray-50 border border-gray-300 text-green-900 text-xl rounded-lg block w-full p-2.5"
      />
      @if (reset_Password.get('re_newPassword')?.errors &&
      reset_Password.get('re_newPassword')?.touched) {
      @if(reset_Password.get('re_newPassword')?.getError('required')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 mt-3"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div class="text-xl">
          <span class="font-medium">Danger alert!</span> Password is required
        </div>
      </div>
      } @else if (reset_Password.get('password')?.getError('pattern')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 mt-3"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div class="text-xl">
          <span class="font-medium">Warning alert!</span> Password must be at
          least 8 characters long and include at least one uppercase letter, one
          lowercase letter, and one number.
        </div>
      </div>
      } }
    </div>
    <!----------- confirmation Password Massege ----------------->
    @if (reset_Password.errors && reset_Password.get('re_newPassword')?.touched)
    {
    <div
      class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 mt-3"
      role="alert"
    >
      <svg
        class="shrink-0 inline w-4 h-4 me-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Info</span>
      <div class="text-xl">
        <span class="font-medium">Warning alert! </span> PASSWORDS NOT MATCHED
      </div>
    </div>
    }
    <button
      type="submit"
      [disabled]="reset_Password.invalid"
      class="text-white bg-green-600 font-medium rounded-lg text-2xl px-5 py-2.5 text-center me-2 mb-2 disabled:bg-green-400"
    >
      <!-- Login @if (Loading) {
        <i class="fa-solid fa-spinner fa-spin"></i>
        } -->
      Submit
    </button>
  </form>
</div>
}
